<mat-card>
  <mat-card-header>
    <mat-card-title>Signature Verification Dashboard</mat-card-title>
   
  </mat-card-header>
  <mat-tab-group (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="IFT – Signature Verification">  <verification-data [request]="request" (openRequestData)="fillForm($event)"></verification-data></mat-tab>
    <mat-tab label="IFT – Signature Verification Data"> <verification-data-count [request]="request"></verification-data-count> </mat-tab>

  </mat-tab-group>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Signature Verification Request</mat-card-title>
   
  </mat-card-header>
  <open-request-form *ngIf="isOpen" [requestData]="requestData" (responseDataOutput)="responseDataOutput($event)">
    
  </open-request-form>
  
</mat-card>